@import '~vars.css';

.wrapper {
  max-width: 400px;
  padding-top: 94px;
  margin: 0 auto;
}


.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.form {
  margin-top: 33px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0;
  button {
    margin-right: 16px;
  }
}

.passwordHelp {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
}