.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    font-size: 30px;
    font-weight: 50px;
  }
  h2 {
    font-size: 25px;
    font-weight: 50px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 20px;
    font-weight: 50px;
    margin-bottom: 8px;
  }
  p {
    margin-top: 20px;
    line-height: 1.2;
  }
}