@import '~vars.css';

.form {
  padding-top: 20px;
}

.error {
  color: var(--red-color);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;
}

.bottom {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-top: 12px;
}

.buttons {
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.link {
  cursor: pointer;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 4px;
  span {
    color: black;
    &:hover {
      // color: $interactive-01;
    }
  }
}

.message {
  font-weight: 300;
  font-size: 18px;
}